ul.no-bullets {
    list-style-type: none;
}

ul.panel {
    padding: 5px 5px 5px 5px;
}

.productContainer {
    display: flex;
    justify-content: center;
}

.pheader {
    width: 20px;
}

.productItem {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 5px;
    width: 80%;
}

.productCell {
    padding: 5px 5px 5px 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: left;
    align-items: center;
    display: flex;
}

.productName {
    width: 15%;
}

.productDesc {
    width: 40%;
}

.productStatus {
    width: 10%;
}

.addProductPanel {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    justify-content: flex-start;
    width: 90%;
    padding-left: 80px;
}

.field {
    padding: 5px;
    width: 250px;
}

.addButtonDiv {
    display: flex;
    align-content: center;
    margin: 5px;
}

.productButton {
    width: 80px;
    border: 0px;
    border-radius: 10px;
    background-color: red;
    color: #fff;
    margin: 2px;
}

.editRow {
    display: flex;
    flex-direction: row;
}

.editProductBtnRow {
    border: 1px solid;
    margin: 5px;
    height: 40px;
    display: flex;
    align-items: center;
}
